In [1]:
import utilities
from feature_engineering import feature_utilities

%matplotlib inline

In [2]:
DATA_DIR = "F:\\Pawel\\Kaggle\\Springleaf Marketing Response\\Data"
STANDARD_DATA_DIR = "F:\\Pawel\\Kaggle\\Springleaf Marketing Response\\Data\\Standard"

raw_train_features = pd.read_hdf(os.path.join(STANDARD_DATA_DIR, 'train_features.hf5'), 'data')
raw_train_target = pd.read_hdf(os.path.join(DATA_DIR, 'train_y.hf5'), 'data')

In [3]:
DATE_FEATURES = ['VAR_0073','VAR_0075','VAR_0156','VAR_0157','VAR_0158','VAR_0159','VAR_0166','VAR_0167','VAR_0168','VAR_0169','VAR_0176','VAR_0177','VAR_0178','VAR_0179','VAR_0204','VAR_0217']

In [4]:
feature_validator = FastFeatureValidator(raw_train_features, raw_train_target)

In [5]:
feature_validator._base_results

{0: '0.75170',
 1: '0.75098',
 2: '0.75271',
 3: '0.75058',
 4: '0.75285',
 5: '0.75133',
 6: '0.75068',
 7: '0.75203',
 8: '0.75058',
 9: '0.74958',
 10: '0.75014',
 11: '0.75086',
 12: '0.75200',
 13: '0.75168',
 14: '0.75165',
 15: '0.75318',
 16: '0.75271',
 17: '0.75261',
 18: '0.75170',
 19: '0.75141',
 20: '0.75127',
 21: '0.75198',
 22: '0.75116',
 23: '0.75159',
 24: '0.75000',
 25: '0.74984',
 26: '0.75143',
 27: '0.75184',
 28: '0.75269',
 29: '0.74821'}

In [8]:
raw_train_features.shape
for i in range(0, 300):
     del raw_train_features[raw_train_features.columns[i]]

In [9]:
feature_validator.p_is_feature_useful(raw_train_features, raw_train_target)

{0: '0.75170', 1: '0.75098', 2: '0.75271', 3: '0.75058', 4: '0.75285', 5: '0.75133', 6: '0.75068', 7: '0.75203', 8: '0.75058', 9: '0.74958', 10: '0.75014', 11: '0.75086', 12: '0.75200', 13: '0.75168', 14: '0.75165', 15: '0.75318', 16: '0.75271', 17: '0.75261', 18: '0.75170', 19: '0.75141', 20: '0.75127', 21: '0.75198', 22: '0.75116', 23: '0.75159', 24: '0.75000', 25: '0.74984', 26: '0.75143', 27: '0.75184', 28: '0.75269', 29: '0.74821'}
{0: '0.74995', 1: '0.74819', 2: '0.74718', 3: '0.74860', 4: '0.74853', 5: '0.74889', 6: '0.75101', 7: '0.75011', 8: '0.74718', 9: '0.74757', 10: '0.74756', 11: '0.74979', 12: '0.74608', 13: '0.74882', 14: '0.74613', 15: '0.74806', 16: '0.74809', 17: '0.74786', 18: '0.74866', 19: '0.74820', 20: '0.74841', 21: '0.74996', 22: '0.74734', 23: '0.74842', 24: '0.74832', 25: '0.74898', 26: '0.74700', 27: '0.74756', 28: '0.74683', 29: '0.74787'}

0.0

In [11]:
feature_validator._feature_results

{0: '0.74995',
 1: '0.74819',
 2: '0.74718',
 3: '0.74860',
 4: '0.74853',
 5: '0.74889',
 6: '0.75101',
 7: '0.75011',
 8: '0.74718',
 9: '0.74757',
 10: '0.74756',
 11: '0.74979',
 12: '0.74608',
 13: '0.74882',
 14: '0.74613',
 15: '0.74806',
 16: '0.74809',
 17: '0.74786',
 18: '0.74866',
 19: '0.74820',
 20: '0.74841',
 21: '0.74996',
 22: '0.74734',
 23: '0.74842',
 24: '0.74832',
 25: '0.74898',
 26: '0.74700',
 27: '0.74756',
 28: '0.74683',
 29: '0.74787'}

In [7]:
date_features = raw_train_features.loc[:, DATE_FEATURES]

In [19]:
for i in range(0, date_features.shape[1]):
    nan_index = date_features.iloc[:, i] > 0
    print '{} => {:.1%} ({}) non empty values'.format(date_features.columns[i], date_features[nan_index].iloc[:, i].dropna().shape[0] / float(date_features.shape[0]), date_features.iloc[:, i].dropna().shape[0])

VAR_0073 => 30.4% (145231) non empty values
VAR_0075 => 100.0% (145231) non empty values
VAR_0156 => 4.0% (145231) non empty values
VAR_0157 => 0.6% (145231) non empty values
VAR_0158 => 1.4% (145231) non empty values
VAR_0159 => 4.0% (145231) non empty values
VAR_0166 => 9.8% (145231) non empty values
VAR_0167 => 1.8% (145231) non empty values
VAR_0168 => 7.4% (145231) non empty values
VAR_0169 => 9.8% (145231) non empty values
VAR_0176 => 12.1% (145231) non empty values
VAR_0177 => 2.3% (145231) non empty values
VAR_0178 => 8.3% (145231) non empty values
VAR_0179 => 12.1% (145231) non empty values
VAR_0204 => 100.0% (145231) non empty values
VAR_0217 => 100.0% (145231) non empty values

In [150]:
def count_unknown(row):
    ret = 0
    for val in row:
        if val < 0:
            ret+=1
    
    return ret

In [152]:
date_features['unknown_dates'] = date_features.apply(lambda row: count_unknown(row), axis=1)

In [158]:
tmp_w = pd.concat([date_features[['unknown_dates', 'target']].groupby('unknown_dates').sum(), date_features[['unknown_dates', 'target']].groupby('unknown_dates').count()], axis=1)
tmp_w.columns = ['true', 'count']
tmp_w['false'] = tmp_w['count'] - tmp_w['true']
tmp_w['freq'] = tmp_w['true'] / tmp_w['count']
tmp_w

                true   count  false      freq
unknown_dates
0                 15      31     16  0.483871
1                 88     205    117  0.429268
2                154     290    136  0.531034
3                362    1003    641  0.360917
4               1013    2368   1355  0.427787
5                 11      38     27  0.289474
6               3429    9080   5651  0.377643
7                100     526    426  0.190114
8               1598    3520   1922  0.453977
9                115     452    337  0.254425
10                 4      18     14  0.222222
11                 0       1      1  0.000000
12              9896   27219  17323  0.363570
13             16975  100424  83449  0.169033
16                13      56     43  0.232143

In [26]:
df = date_features
df['target'] = raw_train_target['target']

In [159]:
tmp_working_feature = 'VAR_0073'
working_feature = 'tmp'
df[working_feature] = np.mod(df[tmp_working_feature], 7)
df_working = pd.concat([df[df[tmp_working_feature] > -1][[working_feature, 'target']].replace(-1, np.nan).dropna().groupby(working_feature).sum(), df[df[tmp_working_feature] > -1][[working_feature, 'target']].replace(-1, np.nan).dropna().groupby(working_feature).count()], axis=1)
df_working.columns = ['nb_true', 'count']
#df_working['date_bucket'] = pd.cut(df_working.index, 100)
df_working['nb_false'] = df_working['count'] - df_working['nb_true']
df_working['freq'] = df_working['nb_true'] / df_working['count']
#df_working[['date_bucket', 'nb_true', 'nb_false']].groupby('date_bucket').sum().plot(kind='bar', figsize=(40, 6), stacked=True, alpha=0.75)
df_working

     nb_true  count  nb_false      freq
tmp
0       1667   4285      2618  0.389032
1       1134   2879      1745  0.393887
2       2637   7140      4503  0.369328
3       2944   7735      4791  0.380608
4       2785   7380      4595  0.377371
5       2796   7350      4554  0.380408
6       2688   7335      4647  0.366462